$item-height: 60px;
$border-radius: 6px;

@mixin list-item-style() {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border: none;
  padding: 0 20px;
  height: $item-height;
  box-sizing: border-box;
  font-size: 14px;

  .material-icons {
    opacity: 0.5;
    font-size: 0.9rem;
    cursor: grab;
  }
  
  span {
    flex: auto;
    text-align: left;
  }

  mat-checkbox {
    margin-top: -2px;
    margin-right: 56px;
  }
}

.container:focus {
  outline: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 1em 0;

  h3 {
    flex: 2.2;
    margin: 0;
  }

  span {
    flex: 1;
    margin: 0;
    font-size: .8rem;
    font-weight: bold;
  }
}

.column {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  vertical-align: top;

  &:not(:last-of-type) {
    margin-right: 20px;
  }

  .list {
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: $border-radius;
    overflow: hidden;
    min-height: $item-height;

    &.cdk-drop-dragging {
      .list-item:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
    }

    &-item {
      @include list-item-style();
      width: 100%;
      transition: background-color 0.1s ease, margin 0.1s ease;

      &.focused {
        background-color: #efefef;
      }

      &.active {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        margin: 6px 0;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid #efefef;
      }
    }
  }
}

.cdk-drag-preview {
  @include list-item-style();
  border-radius: $border-radius;
  cursor: grabbing;
  transition: box-shadow 0.5s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
