<div class="container" tabindex="0" (keydown)="keydownhandler($event)" (focus)="focusManager.setFirstItemActive()"
  (blur)="focusManager.setActiveItem(-1)">
  <div class="column" role="listbox">
    <h3>Yndlingsretter</h3>
    <cdk-drop #selectedList [connectedTo]="availableList" class="list" [data]="selected" (dropped)="drop($event)">
      <div role="listitem" cdkDrag appListItem [value]="selectedItem" class="list-item" *ngFor="let selectedItem of selected"
        [class.active]="activeItem === selectedItem">
        <span>{{selectedItem.name}}</span>
        <mat-checkbox tabindex="-1" (change)="setChecked(selectedItem, $event.checked)" [checked]="selectedItem.selected"></mat-checkbox>
        <i class="material-icons" cdkDragHandle>drag_indicator</i>
    </div>
    </cdk-drop>
  </div>
  <div class="column" role="listbox">
    <h3>Tilgjengelig</h3>
    <cdk-drop #availableList [connectedTo]="selectedList" class="list" [data]="available" (dropped)="drop($event)">
      <div role="listitem" cdkDrag appListItem [value]="availableItem" class="list-item" *ngFor="let availableItem of available"
        [class.active]="activeItem === availableItem">
        <span>{{availableItem.name}}</span>
        <mat-checkbox tabindex="-1" (change)="setChecked(availableItem, $event.checked)" [checked]="availableItem.selected"></mat-checkbox>
        <i class="material-icons" cdkDragHandle>drag_indicator</i>
    </div>
    </cdk-drop>
  </div>
</div>